---
title: Réseau noesya
description: La coopérative noesya partage son réseau d'affinités, de complémentarités, d'engagement & d'exigence en <a href="/recherche">recherche</a>, <a href="/strategie">stratégie</a>, <a href="/design">design</a>, <a href="/tech">tech</a> & <a href="/ethique">éthique</a>.
class: index
layout: default
permalink: /
---

<header>
  <div>
    <h1>{{page.description}}</h1>
    <p>
      Cette page présente les personnes et organisations avec qui nous travaillons,
      pour qui nous avons de l'estime, et avec qui nous avons des valeurs communes.
      Ces personnes et organisations ne sont pas forcément d'accord ensemble,
      et leur présence sur ce site ne traduit pas d'engagement ou de manifeste commun.
    </p>
  </div>
</header>

<section class="toc">
  <ol role="navigation">
    <li><a href="#personnes">{{site.persons.size }} personnes</a></li>
    <li><a href="#organisations">{{site.organizations.size }} organisations</a></li>
  </ol>
</section>

<section class="members">
  <h2 id="personnes">Personnes</h2>
  {% assign persons = site.persons | sort: 'last_name' %}
  {% for person in persons %}
    {% include member.html member=person %}
  {% endfor %}
</section>

<section class="members">
  <h2 id="organisations">Organisations</h2>
  {% assign organizations = site.organizations | sort: 'title' %}
  {% for organization in organizations %}
    {% include member.html member=organization %}
  {% endfor %}
</section>
