---
title: Partages
class: index
layout: default
permalink: /share
---
<header>
  <div>
    <h1>{{page.title}}</h1>
    <p>Cliquez sur les textes pour les copier-coller.</p>
  </div>
</header>

<section class="toc">
  <ol role="navigation">
    <li>{% include search.html %}</li>
  </ol>
</section>

<section class="members">
  {% assign persons = site.persons | sort: 'last_name' %}
  {% for person in persons %}
    <article>
      <h2>{{ person.title }}</h2>
      <p class="message">
          Aujourd'hui nous vous présentons {{ person.title }},
          {{ person.expertise }}

          #reseau noesya
          {{ person.url | absolute_url }}
      </p>
    </article>
  {% endfor %}
</section>


<script type="text/javascript">
    const messages = document.querySelectorAll('.message');
    messages.forEach(message => {
        message.addEventListener('click', () => {
            updateClipboard(message.innerHTML);
        });
    });
    function updateClipboard(newClip) {
        navigator.clipboard.writeText(newClip).then(function() {
            message.classList.add('is-copied');
        });
    }
</script>

<style>
    .message.is-copied {
        background: rgba(0,0,0,0.1);
    }
</style>
