<section class="toc">
  <ol role="navigation">
    <li><a href="#personnes">{{ persons.size }} personnes</a></li>
    {% if organizations.size > 0 %}
      <li><a href="#organisations">{{ organizations.size }} organisations</a></li>
    {% endif %}
    <li>{% include search.html %}</li>
  </ol>
</section>

<section class="members">
  <h2 id="personnes">Personnes</h2>
  {% for person in persons %}
    {% include member.html member=person %}
  {% endfor %}
</section>

{% if organizations.size > 0 %}
  <section class="members">
    <h2 id="organisations">Organisations</h2>
    {% for organization in organizations %}
      {% include member.html member=organization %}
    {% endfor %}
  </section>
{% endif %}
