.index
    @include media-breakpoint-up(md)
        background-image: url('../images/chouette/large-crop.webp')
        background-position: 100% 100px
        background-repeat: no-repeat
        background-size: 250px
        .no-webp &
            background-image: url('../images/chouette/large-crop.png')
    @include media-breakpoint-up(lg)
        background-size: auto
    header
        @include grid(12)
        padding-bottom: $grid-gutter * 8
        @include media-breakpoint-down(md)
            background-image: url('../images/chouette/large-crop.webp')
            background-position: 100% 100%
            background-repeat: no-repeat
            background-size: 100px auto
            .no-webp &
                background-image: url('../images/chouette/large-crop.png')
        > div
            &:nth-child(1)
                grid-column: 1/8
            &:nth-child(2)
                grid-column: 8/13
                img
                    position: absolute
                    right: 0px
        h1
            @include media-breakpoint-down(md)
                font-size: px2rem(33)
            a
                text-decoration-thickness: 2px

