.members
    @include grid(4)
    a
        text-decoration: none
    h2
        font-size: px2rem(23)
        margin-bottom: 0
    p
        color: $secondary
        @media (prefers-color-scheme: dark)
            color: $secondary-reverse
    img
        margin-bottom: $grid-gutter
        width: 100%
