.members
    @include grid(4)
    padding-bottom: $grid-gutter * 5
    > h2
        margin-bottom: $grid-gutter * 4
        text-align: center
        @include media-breakpoint-up(md)
            grid-column: 1/5
    article
        a
            text-decoration: none
        h2
            font-family: $font-family-serif
            font-size: px2rem(25)
            margin-bottom: 0
        p
            color: $secondary
            font-size: px2rem(22)
            line-height: px2rem(36)
            margin-bottom: $grid-gutter * 3
            @media (prefers-color-scheme: dark)
                color: $secondary-reverse
        img
            filter: grayscale(1)
            margin-bottom: $grid-gutter
            transition: filter 0.33s
            width: 100%
        &:hover img
            filter: grayscale(0)
        @include media-breakpoint-down(md)
            a
                display: grid
                grid-gap: 0 #{$grid-gutter}
                grid-template-columns: repeat(3, 1fr)
                picture
                    grid-column: 1/2
                    grid-row: 1/4
                    margin-top: 7px
                    width: 95px
                h2, p
                    grid-column: 2/4
                h2
                    font-size: px2rem(20)
                p
                    font-size: px2rem(16)
                    line-height: px2rem(24)
                    margin-bottom: 0


