.members
    @include grid(4)
    padding-bottom: $grid-gutter * 5
    > h2
        grid-column: 1/5
        margin-bottom: $grid-gutter * 4
        text-align: center
    article
        a
            text-decoration: none
        h2
            font-size: px2rem(23)
            margin-bottom: 0
        p
            color: $secondary
            font-family: $font-family-sans-serif
            @media (prefers-color-scheme: dark)
                color: $secondary-reverse
        img
            filter: grayscale(1)
            margin-bottom: $grid-gutter
            transition: filter 0.33s
            width: 100%
        &:hover img
            filter: grayscale(0)
