.quote
    @include grid(12)
    picture
        align-self: self-start
        grid-column: 1/3
        img
            margin-bottom:  $grid-gutter
            @include media-breakpoint-down(lg)
                max-width: 150px

    figure
        grid-column: 5/11
        figcaption, quote
            font-size: px2rem(20)
            line-height: px2rem(32)
            @include media-breakpoint-up(lg)
                font-size: px2rem(25)
                line-height: px2rem(45)
        quote
            font-style: italic
            position: relative
            &::before, &::after
                display: block
                font-size: px2rem(40)
                font-style: normal
                width: 30px
                @include media-breakpoint-up(lg)
                    font-size: px2rem(50)
            &::before
                content: '“'
                left: -25px
                position: absolute
                top: 0
                @include media-breakpoint-up(lg)
                    left: -30px
            &::after
                content: '”'
                display: inline
                line-height: px2rem(20)
                vertical-align: middle
