---
layout: default
class: work
---
  <header>
    <div>
      <h1>{{page.title}}</h1>
      {%- if page.description -%}
      <h2>{{ page.description }}</h2>
      {%- endif -%}
    </div>
  </header>

<section class="members">
    <h2 id="personnes">Personnes</h2>
    {% assign persons = site.persons | sort: 'last_name' %}
    {% for member in persons %}
      {% if member.categories contains page.slug %}
        {% include member.html member=member %}
      {% endif %}
    {% endfor %}
</section>

<section class="members">
    <h2 id="organisations">Organisations</h2>
    {% assign members = site.organizations | sort: 'title' %}
    {% for member in members %}
      {% if member.categories contains page.slug %}
        {% include member.html member=member %}
      {% endif %}
    {% endfor %}
</section>
