---
layout: default
class: member
---

<header>
  <div>
    <p class="h1">
        {% assign work = site.works | where: 'slug', page.works.first | first %}
        <a href="{{work.url}}">{{work.title}}</a>
    </p>
    <h1>{{page.title}}</h1>
  </div>
  <div>
    {% picture person "{{ page.portrait }}" --img alt="{{ page.title }}" title="{{ page.title }}" %}
  </div>
</header>

{% include sections-with-notes.html %}

{% include quote.html %}

{% unless page.nav %}
  {% include navigation-between-pages.html auto=true %}
{% endunless %}
