---
layout: default
class: work
---
  <header>
    <div>
      <h1>{{page.title}}</h1>
      {%- if page.description -%}
      <h2>{{ page.description }}</h2>
      {%- endif -%}
    </div>
  </header>

<section class="members">
  {% assign persons = site.persons | sort: 'last_name' %}
  {% for member in persons %}
    {% if member.works contains page.slug %}
      {% include member.html member=member %}
    {% endif %}
  {% endfor %}
</section>

<section class="members">
    {% assign members = site.organizations | sort: 'title' %}
    {% for member in members %}
      {% if member.works contains page.slug %}
        {% include member.html member=member %}
      {% endif %}
    {% endfor %}
</section>

{% include navigation-between-pages.html auto=true %}
